{% extends "base.html" %}

{% if not request.user.is_authenticated %}
  <script>window.location.href='{% url "accounts:index" %}';</script>
{% endif %}

{% block body %}
  {% include "authenticateduser_nav.html" %}

  <form action="" method="post" novalidate>
    {% csrf_token %}

    <div class="text-bg-secondary border border-2 rounded border-warning" style="margin: 3% 16% 0px;">
      <div class="p-3">
          <h3 class="text-center text-warning">فرم تغییر رمز عبور</h3>
      </div>

      <div class="p-4 border-top border-dark">
        {% for field in form %}
          <div class="row mb-3">
            <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
            <div class="col-sm-10">
              {{ field }}
              {% if field.id_for_label == "id_new_password1" %}
                <div class="form-text">
                  <p class="text-primary-emphasis small">رمز عبور باید حداقل 8 کاراکتر و نباید تنها شامل اعداد باشد. همچنین رمز عبور نباید تشابه بالایی با نام کاربری یا ایمیل‌تان داشته باشد. همچنین رمز عبور نباید جزو رمز عبورهای رایج باشد.</p>
                </div>
              {% endif %}
              <ul class="form-text text-info">
                {% for error in field.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
        
        {% if form.non_field_errors  %}
          <div class="form-text text-bg-info rounded p-2">
            {{ form.non_field_errors }}
          </div>
        {% endif %}

        <div class="d-grid gap-2 mt-4">
          <button type="submit" class="btn btn-warning">تغییر رمز عبور</button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}