<ul class="nav nav-tabs justify-content-center bg-primary">
  <li class="nav-item">
    <a class="nav-link link-light" href="{% url 'accounts:index' %}">صفحه اصلی</a>
  </li>
  <li class="nav-item dropdown dropdown-center">
    <a class="nav-link dropdown-toggle link-light" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">حساب کاربری</a>
    <ul class="dropdown-menu bg-primary text-end">
      <li><a class="dropdown-item text-warning" href="{% url 'accounts:password_change' %}">تغییر رمز عبور</a></li>
      <li><a class="dropdown-item text-warning" href="{% url 'accounts:account_type_change' %}">تغییر نوع حساب کاربری</a></li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <form action="{% url 'accounts:logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn text-warning">خروج از حساب کاربری</button>
        </form>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link link-light" href="{% url 'accounts:premium_customer_club' %}">باشگاه کاربران ویژه</a>
  </li>
</ul>
